/**
 * CSS file for the sytling of flickr feed gallery pages.
 */
 
/* Photoset List */
div.flickrnodes_photoset {
  clear: both;
  padding: 10px;
}

div.flickrnodes_photoset img {
  float: left;  
  margin-right: 10px;
}

div.flickrnodes_photoset h4 {

}

div.flickrnodes_photoset p {

}

/* Photoset Pages */
div.flickrnodes_photo {
	clear: both;
	padding: 10px;
}

div.flickrnodes_photo img {
  float: left;
  margin-right: 10px;
}

div.flickrnodes_photo h5 {
}

div.flickrnodes_photo p {

}

/* Paging Links */
div.flickrnodes_paging {
  clear: both;	
}
